<html>
    <head>
    <title>SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {# <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> #}
    {# <link rel="icon" href="image/favicon.ico" type="image/x-icon"/> #}
    {# <link rel="shortcut icon" href="/imagefavicon.ico" type="image/x-icon"/> #}
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
<!--
 <script>  
        function show()  
        {  
            $.ajax({  
                url: "transfer/temperature.php",  
                cache: false,  
                success: function(html){  
                    $("#content").html(html); 
				}
             });
             
            $.ajax({  
                url: "transfer/hummidity.php",  
                cache: false,  
                success: function(html){  
                    $("#content-1").html(html); 
                }
             });
             
            $.ajax({  
                url: "transfer/photoresistor.php",  
                cache: false,  
                success: function(html){  
                    $("#content-2").html(html); 
                }
             });
             
            $.ajax({  
                url: "transfer/ledstate.php",  
                cache: false,  
                success: function(html){  
                    $("#content-3").html(html); 
                }
             }); 
        }
        
        $(document).ready(function(){  
            show();  
            setInterval('show()',500);  
        }); 
        
 
        function AjaxFormRequest(result_id,led,url) {
          jQuery.ajax({
          url:     url,
          type:     "POST",
          dataType: "html",
          data: jQuery("#"+led).serialize(),
        });
}

</script> -->
    </head>
    <body>
        <div class="r">
            <p class="r1">Проект "SmartHome 1.1"</p>
            <div class="r" style="display:inline-block;"></div>
        </div>
        <div class="r">
            <p class="r1">Temperature</p>
            <div class="r2" >
                <div class="r3" id="content"></div> &deg;С
            </div>
        </div>  
        <div class="r">
            <p class="r1">Hummidity</p>
            <div class="r2" >
                <div class="r3" id="content-1"></div> %
            </div>
        </div>  
        <div class="r">
            <p class="r1">Photoresistor</p>
            <div class="r2" >
                <div class="r3" id="content-2"></div> lumen
            </div>
        </div>  
        <div class="r">
            <div class="rl">
                <p class="r1">Выключатель</p>
                <div class="r2" style="font-size:35px" >
                    <form  id="led" action="" method="post"  >
                        <label><input type="radio" name="status" value="on"> ON </label>
                        <label><input type="radio" name="status" value="off"> OFF </label>
                        <br>
                        <input class="submitButton" type="submit" value="Отправить" onclick="AjaxFormRequest('messegeResult', 'led', 'transfer/led.php')" >
                    </form>
                </div>
            </div>
            <div class="rr">
                <p class="r1">Состояние</p>
                <div class="r2"style="font-size:35px" >
                    <div class="r3" id="content-3"></div> 
                </div>
            </div>
        </div>
   </body>
</html> 