<!DOCTYPE html>
<html>
<head>
	<title>Smart Home</title>
	<link rel="stylesheet" href="{{ asset('main1.css') }}" />
</head>
<body>
	<!-- Header -->
	<div id="header">
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current"><a href="{{ path('base') }}">Home</a></li>
				<li><a href="#vozm">Возможности умного дома</a></li>
				<li><a href="{{ path('login') }}">Авторизация</a></li>
				<li><a href="#datchiki">Датчики</a></li>
			</ul>
		</nav>
	</div>
	<div id = "bg">
		<div id="home"><h2 style="color:white;">Умный дом</h2></div>
	</div>
<h3>10 ПРИЧИН УСТАНОВИТЬ УМНЫЙ ДОМ</h3>

    <p>1.Статус и современность владельца.</p>

    <p>2.Экономия электроэнергии и ресурсов</p>

    <p>3.Согласованность в работе различных подсистем друг с другом</p>

    <p>4.Возможность исправления ошибок, допущенных на стадии проектирования путем перенастройки стемы</p>

    <p>5.Дополнительные функции, которые не доступны при стандартном подходе к построению электрических систем</p>

    <p>6.Свободное время. Т.к. работа многих процессов происходит автоматически</p>

    <p>7.Комфорт. Более удобное управление всеми функциями. В т.ч. дистанционное.</p>

    <p>8.Более высокий уровень Безопасности</p>

    <p>9.Экологичность дома. Отсутствие паразитных токов.</p>

    <p>10.Внесение изменений в систему без вмешательства в электрическую проводку</p>

<h3 id = "vozm">ВОЗМОЖНОСТИ УМНОГО ДОМА</h3>
   <div class="grid-container">
            <div class="grid-item color1">
            <p><img src="images/icon1a.png"></p>
            <p>ОСВЕЩЕНИЕ</p>
        		<p>Включение, Выключение, Регулировка яркости (диммирование), Сценарное освещение, управление с планшета, смартфона, Автоматически по датчику движения, присутствия, освещенности, по времени суток, календарю. Создание эффекта имитации присутствия.</p></div>
            <div class="grid-item color2 last-item">
            <p><img src="images/icon2.png"></p>
            <p>КЛИМАТ<p>
        		<p>Теплые полы электрические
        		Управление автоматически или вручную по датчику температуры. Управление с планшета, смартфона, интернет. Режимы: День / Ночь / Я ушел / По расписанию.
        		Отопление
        		Управление Радиаторами отопления и водяным теплым полом автоматически или вручную по датчику температуры.
        		Управление с планшета, смартфона, интернет. Режимы: День / Ночь / Я ушел / По расписанию.
    		</p></div>
            <div class="grid-item color3 last-item">
            <p><img src="images/icon5.png"></p>
            <p>ИНЖЕНЕРНЫЕ СИСТЕМЫ <p>
        		<p>Контроль протечек воды: по санузлу / кухне / радиаторам отопления.
        		Автоматическое перекрытие кранов, оповещение, мониторинг.
        		Управление электроэнергией / контроль перебоев энергии / контроль счётчиков наработки / контроль тока / контроль напряжения / контроль фаз
        		Реле времени / реле контроля / устройство плавного пуска / модульные контакторы
        		Солнечные батареи / аккумуляторы бесперебойного питания</p></div>
            <div class="grid-item color4">
            <p><img src="images/icon4.png"></p>
            <p>ШТОРЫ</p>
        		<p>Автоматическое управление шторами, жалюзи, роллетами для затемнения помещения, для снижения высокой яркости прямого солнечного света, для создания эффекта имитации присутствия, участие в сценариях. Управление с планшета, смартфона.</p></div>
            <div class="grid-item color1">
            <p><img src="images/icon3.png"></p>
            <p>БЕЗОПАСНОСТЬ</p>
        		<p> Датчики: дыма/температуры/пламени/газа/движения/открытия окон и дверей /разбития стекла/охраны обычные/охраны периметра.
        		Оповещение: голосовое / SMS / сиреной/ выключение приточной вентиляции и  включение аварийного освещения / сигнал в мониторинговую службу.
                </p></div>
            <div class="grid-item color4">
            <p><img src="images/icon6.png"></p>
            <p>МУЛЬТИМЕДИА</p>
        		<p>Аудио/Видео Мультирум
        		Управление домашним кинотеатром
        		Управление акустикой
        		Управление проектором (по заданному сценарию есть возможность одновременно управления светом/шторами/экраном/звуком)
        		Спутниковое/эфирное ТВ
        		Проигрыватели: Blue-Ray/Виниловые/Сетевые</p></div>
        </div>

<h3 id = "datchiki">Датчики</h3>
 <div class="grid-container">
            <div class="grid-item color1">
            <p><img src="images/d_temp.jpeg" width="200" height="200"></p>
            <p>Датчик температуры и влажности способен определять температуру и влажность окружающей среды.</p>
               </div>
            <div class="grid-item color2 last-item">
            <p><img src="images/d_osv.jpg" width="200" height="200"></p>
            <p>Датчик освещенности (освещения) или сумеречный выключатель – это устройство автоматического управления источниками света, в зависимости от уровня освещенности окружающего пространства. Иными словами, датчик освещенности - это выключатель, работающий в автоматическом режиме, включающий и выключающий свет при достижении определенной степени освещенности в месте его установки.<p>
              </div>
            <div class="grid-item color3 last-item">
            <p><img src="images/d_svet.png" width="220" height="200"></p>
            <p>Управление светом<br>
                1. Включение/выключение света с кнопки<br>
                2. Включение/выключение света в браузере<p>
               </div>
            <div class="grid-item color4">
            <p><img src="images/d_gaz.jpg" width="220" height="200"></p>
            <p>Датчик угарного газа дает сигнал только тогда, когда концентрация угарного газа в воздухе приближается к уровню, опасному для здоровья человека.</p>
                </div>
            <div class="grid-item color1">
            <p><img src="images/d_dvi.jpg" width="200" height="200"></p>
            <p>Датчик движения — сигнализатор, фиксирующий перемещение объектов и используемый для контроля за окружающей обстановкой или автоматического запуска требуемых действий в ответ на перемещение объектов. </p>
              </div>
            <div class="grid-item color4">
            <p><img src="images/d_roz.png" width="200" height="200"></p>
            <p>Управление розетками<br>
             1. Включать и выключать любую розетку или выключатель по желанию<br>
             2. Контролировать/знать если розетка или выключатель в включен/иcпользуется человеком.</p>
                </div>
        </div>
</html>