<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Smart Home</title>
        <meta name="description" content="Smart Home, Умный дом">
    </head>
    <body style="text-align:center; background-color:#D10000; color:gold; height:auto; font-size: 20px;">
        <div>
            <h1>Опевещение о утечке газа!!!</h1>
            <p>
                Здраствуйте! Опевещяем вас о том что в вашей квартире замечана утечка газа.
                Пожалуйста срочно предпринимите действия по устранению утечки.<br>
                Удачного дня!
            </p>
        </div>
    </body>
</html>